body{
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Wrapper{
    max-width: 1400px;
    margin:0 auto;
}

span{
    display: block;
    padding: 5px;
}

footer{
    background-color: rgb(25, 38, 49);
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 40px;
}

footer span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
}

.contact span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: #fff
}

a:link{
    text-decoration: none;
}

.contact{
    background-color: rgb(25, 38, 49);
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}

.img{
    max-width: 1px;
    max-height: 1px;
}

.main{
    display: grid;
    align-items: center;
    grid-template-columns:repeat(10,1fr);
    grid-auto-rows: minmax(100px,auto);
    column-gap: 3px;
}

.login{
    border: 2px #412574 solid;
    padding: 5px 35px;
    border-radius: 9.6px;
    margin: 0 auto;
    font-size: 120%;
}

.Joinus{
    border: 2px rgb(107, 169, 250) solid;
    background-color: rgb(107, 169, 250);
    padding: 5px 35px;
    border-radius: 9.6px;
    font-size: 120%;
}

.Home{
    display: grid;
    align-items: center;
    grid-template-columns:repeat(2,1fr);
    grid-auto-rows: minmax(100px,auto);
    column-gap: 3px;
}
.nav{
    font-size: 120%;
}
.Intro{
    padding: 40px;
}
h1{
    font-size: 4.5em;
    background: linear-gradient(to right, #3700a4, #9664fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Why{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 125%;
    color: #fff;
}
.ques{
    font-size: 225%;
    padding:2% 8%;
    text-align: center; 
    background: linear-gradient(to right, #312055, #714bbf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.reason1{
    background-color: #825ad2;
    padding:2% 10%;   
}
.reason2{
    background-color: #5f3ea1;
    padding:2% 10%;   
}
.reason3{
    background-color: #472e79;
    padding:2% 10%;   
}
.unique{
    text-align: center;
    padding: 1% 30%;
}
h2{
    background: linear-gradient(to right, rgb(2, 2, 70), rgb(107, 169, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.start{
    text-align: center;
    color: #472e79;
}
.message{
    font-size: 140%;
    padding: 1% 20%
}
.start_hiring{
    font-size: 250%;
    border: 2px solid #5f3ea1;
    padding: 1% 10%;
    display: inline;
    background-color: #5f3ea1;
    border-radius: 20px;
}